<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" version="2.4">
  <servlet>
    <description></description>
    <display-name>Resultados</display-name>
    <servlet-name>Resultados</servlet-name>
    <servlet-class>net.netasystem.servlet.Resultados</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Resultados</servlet-name>
    <url-pattern>/Resultados</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Scope</display-name>
    <servlet-name>Scope</servlet-name>
    <servlet-class>net.netasystem.servlet.Scope</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Scope</servlet-name>
    <url-pattern>/Scope</url-pattern>
  </servlet-mapping>
</web-app>