<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="javaLanguage" class="net.netasystems.business.JavaLanguage">
    	<property name="version" value="1.8.110"></property>
    </bean>

    <bean id="perlLanguage" class="net.netasystems.business.PerlLanguaje">
        <property name="descriptionLanguage" value="Perl, usando descripcion desde XML!"/>
        <property name="version" value="5.26002.0"></property>
    </bean>
    
    <bean id="PhpLanguage" class="net.netasystems.business.Php">
    	<property name="descriptionLanguage" value="Php Helicopter"></property>
    	<property name="version" value="PHP 7.2.9"></property>
    </bean>

    <bean id="amaroProgrammer" class="net.netasystems.business.Amaro" >
        <constructor-arg ref="perlLanguage"/>
    </bean>
    
    <bean id="jorgeSaulTr" class="net.netasystems.business.JorgeSaul">
        <constructor-arg ref="PhpLanguage"></constructor-arg>
    </bean>
    
    <bean id="masterProgrammer" class="net.netasystems.business.MasterProgrammer" >
        <property name="languaje" ref="javaLanguage" />
    </bean>

</beans>